<nav class="customBtnColor customNav">
   <div class="nav-wrapper">
       <a href="#" class="brand-logo center">Challenge Your Basket</a>
   </div>
</nav>
<div class="valign-wrapper">
    <div class="valign">
        <div class="container">
            <div class="row">
               <div class="col s12 m6 offset-m3">
                  <div class="card">
                     <div class="card-content">
                        <span class="card-title black-text">Vous souhaitez développer le basket en France?</span>
                     </div>
                  </div>
               </div>
           </div>
           <div class="row">
              <div class="col s12 m6 offset-m3">
                 <div class="card">
                    <div class="card-content">
                       <span class="card-title black-text">Inscrivez-vous !</span>
                          <div class="row">
                             <div class="input-field col s12">
                                <input placeholder="Ex : jean.dupont@gmail.com" id="emailInput" #emailInput type="email" class="validate" required>
                                <label for="emailInput" class="active">Votre adresse mail :</label>
                             </div>
                             <div class="input-field col s12">
                                <input placeholder="Mot de passe" id="passwordInput" #passwordInput type="password" class="validate" required>
                                <label for="passwordInput" class="active">Votre mot de passe</label>
                             </div>
                             <div class="input-field col s12">
                                <p>
                                   <label for="rgpdCheckbox" class="active">
                                      <input id="rgpdCheckbox" #rgpdCheckbox type="checkbox" class="validate" required/>
                                      <span>En soumettant ce formulaire, j'accepte que les informations saisies soient exploitées dans le cadre de la demande et de la relation commerciale qui peut en découler.</span>
                                   </label>
                                 </p>
                             </div>
                             <div class="btnHolder">
                                <input type="submit" class="btn customBtnColor" value="Valider" (click)="authService.SignUp(emailInput.value, passwordInput.value)">
                             </div>
                          </div>
                          <div class="row">
                           <div class="col s12">
                              <span id='fireBaseError' class="erreurSurValidation" hidden></span>
                              <span id='fireBaseOK' class="okSurValidation" hidden></span>
                            </div>
                          </div>
                    </div>
                 </div><div class="row"></div><br/>
              </div>
           </div>
        </div>
    </div>
</div>