/* You can add global styles to this file, and also import other style files */
/** Import de Materialize **/
@import './materialize/sass/materialize.scss';
/** Custom css pour le site Challenge Your Basket **/
html{
    background: url('assets/img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    padding: 10px;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.valign-wrapper{
    width:100%;
    height:100%;
    position: absolute;
}
.valign{
    width:100%;
    opacity: 0.9;
}
.customBtnColor{
    background-color: #C96D32;
    opacity: 0.8;
}
.customNav{
    min-height: 100px;
}
.erreurSurValidation{
    color: #D8000C;
    text-align: center;
    display: inherit;
}
.okSurValidation{
    color: #28a745;
    text-align: center;
    display: inherit;
}
.btnHolder{
    text-align: center
}
main {
    flex: 1 0 auto;
}
/* Add application styles & imports to this file! */